# macOS
.DS_Store

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Node
node_modules/

# Environment variables
.env
.env.local